<!DOCTYPE html>
<html lang="pt-BR">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Dashboard | Mtrek</title>
	<link rel="stylesheet" href="/src/styles/output.css" />
	<link rel="preconnect" href="https://fonts.googleapis.com" />
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
	<link
		href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
		rel="stylesheet" />
</head>

<body>
	<header class="header">
		<div class="avatar hidden lg:flex" id="header">
			<img src="/src/assets/images/avatar.webp" alt="Imagem de perfil do usuário" class="avatar-img" />
			<div class="avatar__profile">
				<h2 class="avatar__profile__greetings title-fblack text-base">
					Olá, usuário!
				</h2>
				<a class="avatar__profile__link flex items-center gap-1" href="#">
					<p class="text-sm">Seu perfil</p>
					<img src="/src/assets/images/icons/mostrar-menu.png" alt="ícone seta para a direita"
						class="arrow rounded-full" />
				</a>
				<p class="id text-sm">ID: 143</p>
			</div>
			<img src="/src/assets/images/icons/mostrar-menu.png" alt="arrow" width="43px" height="43px"
				class="arrow_header_responsive block lg:hidden" />
		</div>
	</header>
	<div id="overlay" class="overlay hidden"></div>
	<div class="wrapper">
		<aside class="hidden lg:block" id="sidebar">
			<nav class="menu">
				<ul class="menu__list">
					<li class="menu__list__item relative">
						<a href="#" class="menu__list__item__link">
							<img src="/src/assets/images/icons/meu-negocio.png" alt="ícone home" class="menu__list__item__icon" />
							<p class="menu__list__item__text">Meu Negócio</p>
						</a>
						<hr class="hr" />
					</li>
					<li class="menu__list__item relative">
						<a href="#" class="menu__list__item__link active">
							<img src="/src/assets/images/icons/expanda-seu-negocio.png" alt="ícone dashboard"
								class="menu__list__item__icon" />
							<p class="menu__list__item__text">Expanda Seu Negócio</p>
						</a>
					</li>
					<li class="menu__list__item relative">
						<a href="#" class="menu__list__item__link">
							<img src="/src/assets/images/icons/minha-rede.png" alt="ícone estatísticas"
								class="menu__list__item__icon" />
							<p class="menu__list__item__text">Minha Rede</p>
						</a>
					</li>
					<li class="menu__list__item relative">
						<a href="#" class="menu__list__item__link">
							<img src="/src/assets/images/icons/relatorio.png" alt="ícone estatísticas"
								class="menu__list__item__icon" />
							<p class="menu__list__item__text">Relatório de Transações</p>
						</a>
					</li>
					<li class="menu__list__item relative">
						<a href="#" class="menu__list__item__link">
							<img src="/src/assets/images/icons/carteira-de-negocio.png" alt="ícone estatísticas"
								class="menu__list__item__icon" />
							<p class="menu__list__item__text">Carteira de Negócios</p>
						</a>
						<hr class="hr" />
					</li>
					<ul class="ecommerce-menu">
						<h2 class="title-fblack @apply bg-[var(--ecommerce-color)] content-center py-2 px-3 mb-4">
							E-Commerce
						</h2>
						<li class="menu__list__item relative">
							<a href="#" class="menu__list__item__link">
								<img src="/src/assets/images/icons/informe-de-compra.png" alt="ícone estatísticas"
									class="menu__list__item__icon" />
								<p class="menu__list__item__text">Informe de Compra</p>
							</a>
						</li>
						<li class="menu__list__item relative">
							<a href="#" class="menu__list__item__link">
								<img src="/src/assets/images/icons/lojas.png" alt="ícone estatísticas" class="menu__list__item__icon" />
								<p class="menu__list__item__text">Lojas</p>
							</a>
						</li>
						<li class="menu__list__item relative">
							<a href="#" class="menu__list__item__link">
								<img src="/src/assets/images/icons/cupons.png" alt="ícone estatísticas"
									class="menu__list__item__icon" />
								<p class="menu__list__item__text">Cupons</p>
							</a>
						</li>
						<li class="menu__list__item relative">
							<a href="#" class="menu__list__item__link">
								<img src="/src/assets/images/icons/promocoes.png" alt="ícone estatísticas"
									class="menu__list__item__icon" />
								<p class="menu__list__item__text">Promoções</p>
							</a>
							<hr class="hr" />
						</li>
					</ul>
					<ul class="energy-menu">
						<h2 class="title-fblack @apply bg-[var(--energy-color)] content-center py-2 px-3 mb-4">
							Mercado Livre de Energia
						</h2>
						<li class="menu__list__item relative">
							<a href="#" class="menu__list__item__link" data-target="cadastro" aria-controls="cadastro">
								<img src="/src/assets/images/icons/cadastro.png" alt="ícone cadastro" class="menu__list__item__icon" />

								<p class="menu__list__item__text">Cadastro</p>
							</a>
						</li>
						<li class="menu__list__item relative">
							<a href="informe-de-recibo" class="menu__list__item__link" data-target="informe-de-recibo"
								aria-controls="informe-de-recibo">
								<img src="/src/assets/images/icons/informe-de-recibo.png" alt="ícone recibo"
									class="menu__list__item__icon" />

								<p class="menu__list__item__text">Informe de Recibo</p>
							</a>
							<hr class="hr" />
						</li>
						<li class="menu__list__item relative">
							<a href="#" class="menu__list__item__link" data-target="conta-bancaria" aria-controls="conta-bancaria">
								<img src="/src/assets/images/icons/conta-bancaria.png" alt="ícone estatísticas"
									class="menu__list__item__icon" />
								<p class="menu__list__item__text">Conta Bancária</p>
							</a>
						</li>
						<li class="menu__list__item relative">
							<a href="#" class="menu__list__item__link" data-target="regulamento" aria-controls="regulamento">
								<img src="/src/assets/images/icons/regulamento.png" alt="ícone estatísticas"
									class="menu__list__item__icon" />
								<p class="menu__list__item__text">Regulamento</p>
							</a>
							<hr class="hr" />
						</li>
						<li class="menu__list__item relative">
							<a href="#" class="menu__list__item__link" data-target="material-de-marketing"
								aria-controls="material-de-marketing">
								<img src="/src/assets/images/icons/material-de-marketing.png" alt="ícone estatísticas"
									class="menu__list__item__icon" />
								<p class="menu__list__item__text">Material de Marketing</p>
							</a>
						</li>
						<li class="menu__list__item relative">
							<a href="#" class="menu__list__item__link" data-target="treinamento" aria-controls="treinamento">
								<img src="/src/assets/images/icons/treinamento.png" alt="ícone estatísticas"
									class="menu__list__item__icon" />
								<p class="menu__list__item__text">Treinamento</p>
							</a>
							<hr class="hr" />
						</li>
					</ul>
					<ul class="geral-menu">
						<li class="menu__list__item relative">
							<a href="#" class="menu__list__item__link">
								<img src="/src/assets/images/icons/cadastro.png" alt="ícone estatísticas"
									class="menu__list__item__icon" />
								<p class="menu__list__item__text">Seu Perfil</p>
							</a>
						</li>
						<li class="menu__list__item relative">
							<a href="https://blog.mtrek.com.br" class="menu__list__item__link" target="_blank">
								<img src="/src/assets/images/icons/Site-209.png" alt="ícone estatísticas"
									class="menu__list__item__icon" />
								<p class="menu__list__item__text">Blog</p>
							</a>
						</li>
						<li class="menu__list__item relative">
							<a href="#" class="menu__list__item__link">
								<img src="/src/assets/images/icons/meu-id.png" alt="ícone estatísticas"
									class="menu__list__item__icon" />
								<p class="menu__list__item__text">Meu ID</p>
							</a>
						</li>
						<li class="menu__list__item relative">
							<a href="#" class="menu__list__item__link">
								<img src="/src/assets/images/icons/central-de-ajuda.png" alt="ícone estatísticas"
									class="menu__list__item__icon" />
								<p class="menu__list__item__text">Central de Ajuda</p>
							</a>
						</li>
						<li class="menu__list__item relative">
							<a href="#" class="menu__list__item__link">
								<img src="/src/assets/images/icons/encerrar-sessao.png" alt="ícone estatísticas"
									class="menu__list__item__icon" />
								<p class="menu__list__item__text">Encerrar Sessão</p>
							</a>
						</li>
					</ul>
				</ul>
				<footer class="menu__footer">
					<img class="menu__footer__logo" src="/src/assets/logo.png" alt="Logo da Mtrek Cashback" />
					<div class="menu__footer__social">
						<p class="menu__footer__social__cta">
							Nos Siga Nas Redes Sociais
						</p>
						<div class="menu__footer__social__icons">
							<a href="https://www.youtube.com/@mtrek1424" target="_blank">
								<img src="/src/assets/images/icons/youtube.png" alt="Icone do Youtube" />
							</a>

							<a href="https://www.instagram.com/mtrek.oficial/" target="_blank">
								<img src="/src/assets/images/icons/instagram.png" alt="Icone do Instagram" />
							</a>

							<a href="https://www.facebook.com/mtrek.oficial" target="_blank">
								<img src="/src/assets/images/icons/facebook.png" alt="Icone do Facebook" />
							</a>
						</div>
					</div>
				</footer>
			</nav>
		</aside>

		<main class="route hidden" id="cadastro">
			<div class="tab__navegation">
				<!-- Adicionar navegação das rotas aqui -->
				<div class="flex items-center gap-2 lg:gap-3">
					<img src="/src/assets/images/icons/Menu - 258 1.png" class="menu_responsivo block lg:hidden cursor-pointer" />
					<h1 class="navegation__title">Mercado Livre de Energia</h1>
					<img src="/src/assets/images/icons/seta-direita.png" alt="seta de navegação para a direita" class="arrow" />
					<h1 class="navegation__title">Cadastro</h1>
				</div>
				<div class="flex gap-2">
					<button>
						<img src="/src/assets/images/icons/Notificação_5-8.png" alt="Notificação" class="notification" />
					</button>
					<button class="bg-gray-700/20 py-1 px-3 items-center rounded-lg hidden lg:flex">
						<img src="/src/assets/images/icons/central-de-ajuda-branco.png" alt="Ajuda" class="w-6 h-6" />
						<p class="text-sm font-bold text-white">Ajuda</p>
					</button>
				</div>
			</div>

			<div class="scroll-content">
				<main class="tab">
					<div class="mx-auto">
						<img class="hidden lg:block rounded-3xl" src="/src/assets/images/banners/mercador-de-energia-banner-2.jpg"
							alt="Banner sobre o mercado livre de energia" />
						<img class="block lg:hidden rounded-3xl max-h-[810px]"
							src="/src/assets/images/banners/mercado-de-energia-mobile.jpg" alt="Banner mobile" />
					</div>
					<div class="tab__content flex-col-reverse lg:flex-row">
						<!-- Adicionar conteúdo das rotas aqui -->
						<div class="tab__content__video">
							<header class="article__header">
								<h2 class="title-fblack text-lg">
									Aperte o play para assistir ao vídeo
								</h2>
							</header>
							<div
								class="bg-white drop-shadow-lg rounded-[0px_0px_20px_20px] items-center flex justify-center p-5 h-[545px]">
								<img src="/src/assets/images/banners/mercado-de-energia-mobile.png" alt="Play Video"
									class="play-image cursor-pointer w-80 hover:scale-105 transition-all" onclick="showVideo()" />
								<iframe id="video" src="https://www.youtube.com/embed/p8ASfVQ7Jhw?si=AsSA-p2KXw3GYkOH&amp;start=1"
									title="YouTube video player" frameborder="0"
									allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
									class="w-80 h-[450px] hidden m-10 rounded-[20px]"></iframe>
							</div>
						</div>

						<div class="tab__content__form">
							<header class="article__header">
								<h2 class="title-fblack text-lg">Faça o seu cadastro aqui</h2>
							</header>
							<div class="p-5 drop-shadow-lg bg-white rounded-[0px_0px_20px_20px]">
								<p class="text-sm font-light">
									Preencha com todos os dados abaixo para poder validar e ser
									aprovado o seu cadastro, para começar a receber descontos e
									cashback em sua conta de energia.
								</p>

								<form id="cadastroForm" onsubmit="submitCadastroForm(event)" enctype="multipart/form-data">
									<!-- Campos do formulário -->
									<div class="flex flex-col gap-4 mt-6">
										<!-- Campos Nome e Sobrenome -->
										<div class="flex flex-wrap sm:gap-3 gap-5 w-full">
											<div class="flex flex-col gap-3 w-full lg:w-[48%]">
												<label for="nome" class="text-sm font-semibold">Nome</label>
												<input type="text" id="nome" name="nome" v-model="name" placeholder="Digite o seu nome"
													required />
											</div>
											<div class="flex flex-col gap-3 w-full lg:w-[48%]">
												<label for="sobrenome" class="text-sm font-semibold">Sobrenome</label>
												<input type="text" id="sobrenome" name="sobrenome" v-model="sobrenome"
													placeholder="Digite o seu sobrenome" required />
											</div>
										</div>
										<!-- Estados -->
										<div class="flex flex-col gap-2">
											<label for="estado" class="text-sm font-semibold">Estado</label>
											<select class="w-full select-toggle form-select" id="estado" name="estado" required>
												<option value="" disabled selected class="!text-[#AEAEAE]">
													Selecione o seu estado
												</option>
												<option value="ac">Acre</option>
												<option value="al">Alagoas</option>
												<option value="ap">Amapá</option>
												<option value="am">Amazonas</option>
												<option value="ba">Bahia</option>
												<option value="ce">Ceará</option>
												<option value="df">Distrito Federal</option>
												<option value="es">Espírito Santo</option>
												<option value="go">Goiás</option>
												<option value="ma">Maranhão</option>
												<option value="ms">Mato Grosso do Sul</option>
												<option value="mt">Mato Grosso</option>
												<option value="mg">Minas Gerais</option>
												<option value="pa">Pará</option>
												<option value="pb">Paraíba</option>
												<option value="pr">Paraná</option>
												<option value="pe">Pernambuco</option>
												<option value="pi">Piauí</option>
												<option value="rj">Rio de Janeiro</option>
												<option value="rn">Rio Grande do Norte</option>
												<option value="rs">Rio Grande do Sul</option>
												<option value="ro">Rondônia</option>
												<option value="rr">Roraima</option>
												<option value="sc">Santa Catarina</option>
												<option value="sp">São Paulo</option>
												<option value="se">Sergipe</option>
												<option value="to">Tocantins</option>
											</select>
										</div>

										<!-- Distribuidoras -->
										<div class="flex flex-col gap-2">
											<label for="distribuidora" class="text-sm font-semibold">Distribuidora</label>
											<select class="w-full select-toggle form-select" id="distribuidora" name="distribuidora" required>
												<option value="" disabled selected>
													Selecione a distribuidora de energia
												</option>
												<option value="cemig">Cemig</option>
												<option value="coelba">Coelba</option>
												<option value="cpfl">CPFL</option>
												<option value="enel">Enel</option>
												<option value="energisa">Energisa</option>
												<option value="equatorial">Equatorial</option>
												<option value="light">Light</option>
												<option value="elektro">Elekytro</option>
											</select>
										</div>
										<!-- Recibo e Documento de Identidade -->
										<div class="flex flex-col gap-3 mt-2">
											<p id="cadastro-file-name-placeholder" class="text-sm font-bold">
												Tipos permitidos: .jpg, .png, .pdf, .doc
											</p>
											<div class="relative h-8">
												<input type="file" id="cadastro-recibo" name="recibo" accept=".pdf,.jpg,.png,.doc" required
													class="sr-only" aria-label="Carregar Conta" onchange="updateCadastroFileName(this)" />
												<label for="cadastro-recibo" id="loadEnergyBillBtn"
													class="button block text-center cursor-pointer">
													Carregar conta de energia
												</label>
											</div>

											<div class="block">
												<button id="loadDocumentsBtn" class="button" type="button" onclick="openModal()">
													Carregar documento de identidade
												</button>
											</div>
											<button class="button" type="submit" id="cadastro-enviarBtn" disabled>
												Enviar
											</button>
										</div>
									</div>
								</form>
							</div>
						</div>

						<!-- Modals -->
						<div id="idModal" class="modal">
							<div class="modal-content w-[90%] lg:w-[80%]">
								<div class="article__header flex justify-between items-center max-w-[600px] mx-auto">
									<h2 class="title-fblack">
										Carregar Documento de Identidade
									</h2>
									<span class="close cursor-pointer" onclick="closeModal()">
										<img src="/src/assets/images/icons/fechar.png" alt="" />
									</span>
								</div>
								<div class="modal-body bg-[#fefefe] py-6 px-10 rounded-b-[20px]">
									<p class="text-sm font-light">
										Nos envie o seu Documento de identidade, pode ser em
										arquivos
										<b class="font-bold text-black">jpg, .png, .pdf, .doc</b>
									</p>
									<form id="documentForm">
										<div class="modal-section mt-4 mb-5">
											<img id="frenteImg" src="/src/assets/images/icons/FRENTE-100.jpg" alt="Imagem Frente"
												class="rounded-lg mb-4" style="border: 8px solid #d9d9d9" />
											<input type="file" id="frenteDocumento" name="frenteDocumento" accept=".jpg,.png,.pdf,.doc"
												onchange="updateFileName('frenteDocumento')" />
											<label id="frenteLabel" class="button cursor-pointer px-3 py-1" for="frenteDocumento">Enviar
												Frente</label>
											<span id="frenteDocumentoName" class="text-sm text-gray-600 block mt-2 truncate max-w-[204px]"
												title="Nenhum arquivo selecionado">Nenhum arquivo selecionado</span>
										</div>
										<div class="modal-section mt-4 mb-5">
											<img id="versoImg" class="rounded-lg mb-4" src="/src/assets/images/icons/VERSO-100.jpg"
												alt="Imagem Verso" style="border: 8px solid #d9d9d9" />
											<input type="file" id="versoDocumento" name="versoDocumento" accept=".jpg,.png,.pdf,.doc"
												onchange="updateFileName('versoDocumento')" />
											<label id="versoLabel" class="button cursor-pointer px-3 py-1" for="versoDocumento">Enviar
												Verso</label>
											<span id="versoDocumentoName" class="text-sm text-gray-600 block mt-2 truncate max-w-[204px]"
												title="Nenhum arquivo selecionado">Nenhum arquivo selecionado</span>
										</div>
										<button id="submitDocumentsBtn" class="button_disabled" type="button">
											Enviar
										</button>
									</form>
								</div>
							</div>
						</div>

						<div id="step2Modal" class="modal">
							<div class="modal-content w-[90%] lg:w-[80%]">
								<div class="article__header flex justify-between items-center max-w-[600px] mx-auto">
									<h2 class="title-fblack">Informações salvas</h2>
									<span class="close cursor-pointer" onclick="closeStep2Modal()">
										<img src="/src/assets/images/icons/fechar.png" alt="" />
									</span>
								</div>
								<div class="modal-body bg-[#fefefe] py-6 px-10 rounded-b-[20px]">
									<p class="text-2xl font-black">
										Os seus dados foram enviados com sucesso na plataforma da
										Mtrek, finalize seu cadastro na segunda etapa
									</p>

									<a class="button block mt-6" href="#cadastro">
										Continuar para a etapa 2
									</a>
								</div>
							</div>
						</div>
					</div>
				</main>
				<footer class="flex flex-wrap items-center justify-center px-5 footer_page">
					<!-- <p class="mobile-none">Mtrek, o jeitinho Brasileiro de Economizar, Ganhar e Realizar.</p>
					<img src="src/assets/images/icons/ICONE MTREK - vazado - preto 1.png" alt="Mktrek" class="w-20 mobile-none">
					<p class="footer_page_p2 mobile-none">Copyright © 2024 Mtrek - Todos os direitos reservados.</p> -->

					<div class="flex flex-wrap justify-between container-footer">
						<div class="flex items-center justify-between footer_p_img">
							<p class="pr-10">
								Mtrek, o jeitinho Brasileiro de Economizar, Ganhar e Realizar.
							</p>
							<img src="src/assets/images/icons/ICONE MTREK - vazado - preto 1.png" alt="Mktrek" class="w-20" />
						</div>
						<p class="pl-10 flex justify-center items-center copy">
							Copyright © 2024 Mtrek - Todos os direitos reservados.
						</p>
					</div>
				</footer>
			</div>
		</main>

		<main class="route hidden" id="informe-de-recibo">
			<div class="tab__navegation">
				<!-- Adicionar navegação das rotas aqui -->
				<div class="flex items-center gap-2 lg:gap-3">
					<img src="/src/assets/images/icons/Menu - 258 1.png" class="menu_responsivo block lg:hidden cursor-pointer" />
					<h1 class="navegation__title">Mercado Livre de Energia</h1>
					<img src="/src/assets/images/icons/seta-direita.png" alt="seta de navegação para a direita" class="arrow" />
					<h1 class="navegation__title">Recibo</h1>
				</div>
				<div class="flex gap-2">
					<button>
						<img src="/src/assets/images/icons/Notificação_5-8.png" alt="Notificação" class="notification" />
					</button>
					<button class="bg-gray-700/20 py-1 px-3 items-center rounded-lg hidden lg:flex">
						<img src="/src/assets/images/icons/central-de-ajuda-branco.png" alt="Ajuda" class="w-6 h-6" />
						<p class="text-sm font-bold text-white">Ajuda</p>
					</button>
				</div>
			</div>

			<div class="scroll-content">
				<main class="tab">
					<div class="tab__content flex-col">
						<div class="tab__content__form w-full">
							<header class="article__header">
								<h2 class="title-fblack text-lg">
									Carregue o Recibo de Pagamento da sua conta de Energia
								</h2>
							</header>

							<div class="p-5 drop-shadow-lg bg-white rounded-[0px_0px_20px_20px]">
								<p class="text-sm font-light mb-">
									Para garantir que você possa começar a economizar e
									aproveitar todos os benefícios da Mtrek, por favor, carregue
									o recibo a cada pagamento da sua conta de energia, todos os
									meses. Isso nos ajudará a validar suas informações e ajustar
									nossos serviços para oferecer a melhor experiência possível.
									É rápido, fácil e você estará um passo mais perto de
									desfrutar de energia limpa e sustentável com descontos
									incríveis!
								</p>

								<div class="flex gap-3 justify-between mt-6">
									<form id="reciboForm" onsubmit="submitReciboForm(event)" enctype="multipart/form-data"
										class="w-full lg:w-1/2 flex flex-col gap-3">
										<!-- Valor do Recibo e Distribuidora -->
										<div class="flex flex-col gap-3">
											<label for="valor_recibo" class="font-semibold">Valor do Recibo</label>
											<input type="number" id="valor_recibo" name="valor_recibo" required class="form-input"
												placeholder="Insira o valor do recibo" min="0" step="0.01" />
										</div>
										<div class="flex flex-col gap-3">
											<label for="recibo-distribuidora" class="font-semibold">Distribuidora</label>
											<select id="recibo-distribuidora" name="distribuidora" required class="form-select select-toggle">
												<option value="" disabled selected>Selecionar a distribuidora de energia</option>
												<option value="Cemig">Cemig</option>
												<option value="Coelba">Coelba</option>
												<option value="CPFL">CPFL</option>
												<option value="Enel">Enel</option>
												<option value="Energisa">Energisa</option>
												<option value="Equatorial">Equatorial</option>
												<option value="Light">Light</option>
												<option value="Elekytro">Elekytro</option>
											</select>
										</div>
										<!-- Recibo -->
										<div class="flex flex-col gap-3 mt-2">
											<p class="text-sm font-bold">
												<span id="recibo-file-name-placeholder">Tipos permitidos: .jpg, .png, .pdf, .doc</span>
											</p>
											<div class="relative h-8">
												<input type="file" id="recibo-recibo" name="recibo" accept=".pdf,.jpg,.png,.doc" required
													class="sr-only" aria-label="Carregar Recibo" onchange="updateReciboFileName(this)" />
												<label for="recibo-recibo" id="recibo-file-btn" class="button block text-center cursor-pointer">
													<span id="recibo-file-btn-text">Carregar Recibo</span>
												</label>
											</div>
											<button type="submit" id="enviarReciboBtn" class="button_disabled" disabled>Enviar
												Recibo</button>
										</div>
									</form>

									<img class="hidden lg:block mr-10" src="/src/assets/images/recibo.png" alt="Recibo" />
								</div>
							</div>
						</div>
						<section class="section-historico">
							<div class="p-6 max-w-7xl mx-auto">
								<h2 class="text-2xl sm:text-3xl lg:text-4xl font-black mb-4 text-left">Histórico de Envios de Recibos
								</h2>

								<!-- Tabela Responsiva -->
								<div class="overflow-x-auto">
									<table id="reciboTable" class="w-full border-separate border-spacing-2">
										<thead>
											<tr class="text-white">
												<th class="py-2 px-4 text-center bg-primary-purple border rounded-2xl">Distribuidora</th>
												<th class="py-2 px-4 text-center bg-primary-purple border rounded-2xl">Data</th>
												<th class="py-2 px-4 text-center bg-primary-purple border rounded-2xl">Valor da Conta</th>
												<th class="py-2 px-4 text-center bg-primary-purple border rounded-2xl">Status</th>
											</tr>
										</thead>
										<tbody id="reciboTableBody">
											<!-- Inserir dados dos recibos aqui -->
										</tbody>
									</table>
									<p id="noDataMessage" class=" text-center text-gray-500 mt-4">Não há histórico registrado</p>

								</div>


								<!-- Botão "Ver Mais" -->
								<button id="verMaisBtn"
									class="hidden flex items-center justify-center w-full mt-4 bg-secondary text-secondary-foreground hover:bg-secondary/80 py-2 px-4 rounded font-black">
									<img src="src/assets/images/icons/Mais-itens-8 1.png" class="w-8 sm:w-10" alt="Ícone Ver Mais">
									<span class="ml-2">Ver Mais</span>
								</button>

								<!-- Botão "Ver Menos" -->
								<button id="verMenosBtn"
									class="hidden flex items-center justify-center w-full mt-4 bg-secondary text-secondary-foreground hover:bg-secondary/80 py-2 px-4 rounded font-black">
									<img src="src/assets/images/icons/Mostrar menos-8.png" class="w-8 sm:w-10" alt="Ícone Ver Menos">
									<span class="ml-2">Ver Menos</span>
								</button>
							</div>
						</section>
						<section class="container mx-auto flex flex-col lg:flex-row mb-10 rounded-lg shadow-md"
							style="background-color: #5f7336">
							<div class="lg:w-1/2 flex items-center justify-center order-2 lg:order-1">
								<img src="/src/assets/images/medium-shot-happy-friends-city.png" alt="Amigos felizes na cidade"
									class="h-full object-cover lg:rounded-l-lg lg:rounded-b-none rounded-b-lg" />
							</div>
							<div class="lg:w-1/2 flex items-center justify-center order-1 lg:order-2 px-6 py-10">
								<div class="max-w-lg mx-auto flex flex-col gap-5">
									<h1 class="text-4xl font-bold text-white">
										Compartilhe a Mtrek e Construa sua Rede de Afiliados!
									</h1>
									<p class="text-white text-lg">
										Você já faz parte da Mtrek e está aproveitando os
										benefícios de energia limpa e sustentável com descontos
										incríveis. Agora, imagine poder aumentar ainda mais suas
										vantagens e até ganhar uma renda extra! Compartilhando a
										Mtrek com seus amigos e familiares, você não só ajuda
										outras pessoas a economizarem na conta de energia, mas
										também acumula recompensas exclusivas.
									</p>
									<ul class="text-lg flex flex-col gap-2 text-white">
										<h2 class="text-2xl">Por que Compartilhar a Mtrek?</h2>
										<li class="flex items-center">
											<img src="/src/assets/images/icons/Aprovado ou Selecionado_4-8 8.png" class="mr-2"
												alt="Ícone de aprovação" />Economia Adicional
										</li>
										<li class="flex items-center">
											<img src="/src/assets/images/icons/Aprovado ou Selecionado_4-8 8.png" class="mr-2"
												alt="Ícone de aprovação" />Renda Extra
										</li>
										<li class="flex items-center">
											<img src="/src/assets/images/icons/Aprovado ou Selecionado_4-8 8.png" class="mr-2"
												alt="Ícone de aprovação" />Sustentabilidade
										</li>
										<li class="flex items-center">
											<img src="/src/assets/images/icons/Aprovado ou Selecionado_4-8 8.png" class="mr-2"
												alt="Ícone de aprovação" />Benefícios Exclusivos
										</li>
									</ul>
									<a href="#"
										class="button button-green block w-32 py-1 font-black rounded-md text-black hover:text-white transition duration-300 ease-in-out text-center">
										Indicar
									</a>
								</div>
							</div>
						</section>
					</div>
				</main>
				<footer class="flex flex-wrap items-center justify-center px-8 footer_page">
					<!-- <p class="mobile-none">Mtrek, o jeitinho Brasileiro de Economizar, Ganhar e Realizar.</p>
					<img src="src/assets/images/icons/ICONE MTREK - vazado - preto 1.png" alt="Mktrek" class="w-20 mobile-none">
					<p class="footer_page_p2 mobile-none">Copyright © 2024 Mtrek - Todos os direitos reservados.</p> -->

					<div class="flex flex-wrap justify-center  container-footer px-4 mb-2">
						<div class="flex items-center justify-between footer_p_img">
							<p class="pr-10">
								Mtrek, o jeitinho Brasileiro de Economizar, Ganhar e Realizar.
							</p>
							<img src="src/assets/images/icons/ICONE MTREK - vazado - preto 1.png" alt="Mktrek" class="w-20" />
						</div>
						<p class="pl-10 flex justify-center items-center copy">
							Copyright © 2024 Mtrek - Todos os direitos reservados.
						</p>
					</div>
				</footer>
			</div>
		</main>
		<!-- Adicionar componentes das rotas aqui -->
	</div>
</body>

<script src="/src/scripts/main.js"></script>
<script src="/src/scripts/info-recibo.js"></script>
<script src="/src/scripts/cadastro.js"></script>

</html>