/* Estrutura Principal */
.wrapper {
	@apply grid max-w-[2560px] grid-cols-1 w-full mx-auto pl-0 lg:pl-8 relative;
}

@media screen and (min-width: 1024px) {
	.wrapper {
		grid-template-columns: 300px auto;
		padding: 0;
	}
}

/* Header */
.header {
	@apply flex items-center h-[78px] max-w-fit relative drop-shadow-lg z-[1000];
}

/* Avatar */
.avatar {
	@apply flex items-center gap-8 bg-[var(--bg-primary)] w-[25%] lg:w-fit h-full py-4 px-10 text-white font-medium relative;
}

.avatar-img {
	@apply !w-[70px] !h-[70px] rounded-full;
}

/* Menu */
.menu {
	@apply pr-3 pl-5 py-3 pb-10 overflow-y-scroll h-[calc(100vh-78px)];
}

/* Animação do Sidebar */

.menu-active {
	@apply translate-x-0; /* Sidebar visível */
}

/* Menu List */
.menu__list {
	@apply flex flex-col justify-center gap-0;
}

.menu__list__item {
	@apply mb-3;
}

.menu__list__item__link {
	@apply flex items-center gap-1 w-fit transition-all ease-in-out;
}

.menu__list__item__icon,
.menu__list__item__icon--active {
	@apply w-[32px] h-[32px];
}

.menu__list__item__icon--active {
	@apply hidden;
}

.hr {
	@apply mt-3 h-[2px] bg-[#C8C8C8] max-w-[216px] border-none;
}

.menu__footer {
	@apply flex flex-col items-center justify-center;
}

.menu__footer__logo {
	@apply w-[80%] h-auto;
}

.menu__footer__social {
	@apply flex flex-col items-center justify-center gap-1;
}

.menu__footer__social__icons {
	@apply flex items-center gap-2;

	& > a {
		@apply w-12 h-12;
	}
}

/* Navegação de Abas */
.tab__navegation {
	@apply flex items-center justify-between h-[78px] bg-[var(--bg-secundary)] py-4 px-10 lg:pr-10 lg:pl-[340px] absolute top-[-78px] right-0 w-full z-[99] lg:z-[1] drop-shadow-lg;
}

.scroll-content {
	@apply overflow-y-auto lg:overflow-y-scroll h-full lg:h-[calc(100vh-78px)];
}

/* Conteúdo das Abas */
.tab {
	@apply flex flex-col gap-8 max-w-[1202.66px] px-4 py-3 lg:px-8 lg:py-6 mx-auto;
}

.tab__content {
	@apply flex flex-col lg:flex-row md:gap-4 gap-y-8 w-full mx-auto;
}

.tab__content__video {
	@apply w-full lg:w-[45%];
}

.tab__content__form {
	@apply w-full lg:w-[55%];
}

/* Modal */
.modal {
	@apply hidden fixed z-[1000] inset-0 overflow-auto bg-[rgba(0,0,0,0.5)] justify-center items-center;
}

.modal-content {
	@apply mx-auto max-w-[600px] text-center relative;
}

.modal-section {
	@apply inline-block m-5;
}

.modal-section input[type="file"] {
	@apply hidden;
}

/* Overlay */
.overlay {
	@apply fixed inset-0 bg-[rgba(0,0,0,0.5)] z-[999] hidden;
}

.overlay.active {
	@apply block;
}

/* Sidebar e Header fixos */
@media (max-width: 1024px) {
	.menu {
		@apply sticky w-[300px] pl-5 bg-white z-[1000]; /* Adiciona a classe hidden */
	}

	#header {
		@apply fixed w-[300px] h-[78px] pl-5 bg-[var(--bg-primary)] z-[1000];
	}

	.header {
		@apply sticky top-0;
	}

	.arrow_header_responsive {
		@apply cursor-pointer rotate-180 absolute left-[280px] z-[200] block;
	}
}

/* Estilo para o estado ativo */
.menu__list__item {
	@apply relative;
}

.menu__list__item__link.active {
	@apply text-[var(--energy-color)] before:absolute before:left-[-20px] before:w-1 before:h-8 before:bg-[#39441C];
}

.menu__list__item__link.active > .menu__list__item__icon {
	@apply hidden;
}

.menu__list__item__link.active > .menu__list__item__icon--active {
	@apply block;
}

/*Footer*/
.footer_page {
	background: #ffddfd;
}

.footer_page p {
	font-weight: bold;
	font-size: 15px;
}
.footer-mobile {
	display: none;
}

/* @media (max-width: 1291px) {
	.copy {
		position: relative;
		top: -20px;
	}
	.container-footer {
		gap: 0px !important;
	}
	.container-footer div img {
		position: relative;
		top: 10px;
	}
} */

@media (max-width: 1291px) {
	.copy {
		position: relative;
		top: -0px;
	}
	.footer_page p,
	.footer_p_img {
		gap: 3px !important;
	}
}

/* Estilos para telas maiores ou iguais a 1024px */
@media (max-width: 1289px) {
	.footer_p_img p {
		padding-right: 0px;
	}
	.copy {
		position: relative;
		padding-left: 0px !important;
	}
}
/* @media (max-width: 1214px) {
	.copy {
	}
} */
@media (max-width: 540px) {
	.copy {
		top: 0px !important;
	}
}
