.wrapper {
  @apply grid max-w-[2560px] grid-cols-1 w-full mx-auto pl-0 lg:pl-8 relative;
  
  @media screen and (min-width: 1024px) {
    grid-template-columns: 23% 1fr;
  }
}


/* Estilo geral da barra de navegação */
.header {
  @apply flex items-center h-[112px] max-w-[2560px] mx-auto relative;
}

.avatar {
  @apply flex items-center gap-8 bg-[var(--bg-primary)] w-[25%] h-full py-4 px-10 shadow-lg text-white font-medium relative;
  z-index: 1;
}

.menu {
  @apply pr-3 py-5 overflow-y-scroll;
  height: calc(100vh - 112px);
}
.menu__list {
  @apply flex flex-col justify-center gap-0;
}

.menu__list__item {
  @apply mb-3;
}

.menu__list__item__link {
  @apply flex items-center gap-1 w-fit;
}

.menu__list__item__icon {
  @apply w-[32px] h-[32px];
}

.hr {
  @apply mt-3 h-[2px] bg-[#C8C8C8] max-w-[216px];
  border: none;
}

.menu__footer {
  @apply flex flex-col items-center justify-center;
}

.menu__footer__logo {
  @apply w-[80%] h-auto;
}

.menu__footer__social {
  @apply flex flex-col items-center justify-center gap-1;
}

.menu__footer__social__icons {
  @apply flex items-center gap-2;

  & > a {
    @apply w-12 h-12;
  }
}

.tab__navegation {
  @apply flex items-center gap-3 h-[112px] bg-[var(--bg-secundary)] py-4 px-10 shadow-lg 
  absolute top-[-112px] right-0 z-[2] w-full lg:w-3/4;

  @media screen and (min-width: 1024px) {
    max-width: calc(2560px - 640px);
  }
}


.navegation__title {
  @apply font-bold text-xl lg:text-2xl text-white;
}

.scroll-content {
  @apply overflow-y-auto lg:overflow-y-scroll h-full;

  @media screen and (min-width: 1024px) {
    height: calc(100vh - 112px);
  }
}

.tab {
  @apply flex flex-col gap-8 max-w-[1202.66px] px-4 py-3 lg:px-8 lg:py-6;
}

.tab__content {
  @apply flex flex-col lg:flex-row md:gap-4 gap-y-8 w-full;
}

.tab__content__video {
  @apply w-full lg:w-[45%];
}

.tab__content__form {
  @apply w-full lg:w-[55%];
}

/* Modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  margin: 5vh auto;
  padding: 20px;
  max-width: 600px;
  text-align: center;
  position: relative;
}

.modal-section {
  display: inline-block;
  margin: 20px;
}

.modal-body img {
  width: 150px;
  height: 200px;
  display: block;
  margin: 0 auto 10px;
}

.modal-section input[type="file"] {
  display: none;
}


