<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard | Mtrek</title>
    <link href="./styles/output.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    
    <script src="scripts/main.js" defer></script>
  </head>

  <body>
    <header class="header">
      <div class="avatar hidden lg:flex" id="header">
        <img
          src="https://github.com/Lxcier.png"
          alt="Imagem de perfil do usuário"
          class="rounded-full w-[84px] h-[84px] avatar_profile"
        />
        <div class="avatar__profile">
          <h2 class="avatar__profile__greetings title-fblack text-red">
            Olá, usuário!
          </h2>
          <a class="avatar__profile__link flex items-center gap-2" href="#">
            <p>Seu perfil</p>
            <img
              src="/src/assets/images/icons/mostrar-menu.png"
              alt="ícone seta para a direita"
              class="arrow rounded-full"
            />
          </a>
          <p class="id">ID: 143</p>
        </div>
        <img src="assets/images/icons/mostrar-menu.png" alt="arrow" width="43px" height="43px" class="arrow_header_responsive">
      </div>
    </header> 
    <div id="overlay" class="overlay hidden"></div>
    <div class="wrapper">
      <aside class="hidden lg:block" id="sidebar">
        <nav class="menu">
          <ul class="menu__list">
            <li class="menu__list__item">
              <a href="#" class="menu__list__item__link">
                <img
                  src="/src/assets/images/icons/meu-negocio.png"
                  alt="ícone home"
                  class="menu__list__item__icon"
                />
                <p class="menu__list__item__text">Meu Negócio</p>
              </a>
              <hr class="hr" />
            </li>
            <li class="menu__list__item">
              <a href="#" class="menu__list__item__link">
                <img
                  src="/src/assets/images/icons/expanda-seu-negocio.png"
                  alt="ícone dashboard"
                  class="menu__list__item__icon"
                />
                <p class="menu__list__item__text">Expanda Seu Negócio</p>
              </a>
            </li>
            <li class="menu__list__item">
              <a href="#" class="menu__list__item__link">
                <img
                  src="/src/assets/images/icons/minha-rede.png"
                  alt="ícone estatísticas"
                  class="menu__list__item__icon"
                />
                <p class="menu__list__item__text">Minha Rede</p>
              </a>
            </li>
            <li class="menu__list__item">
              <a href="#" class="menu__list__item__link">
                <img
                  src="/src/assets/images/icons/relatorio.png"
                  alt="ícone estatísticas"
                  class="menu__list__item__icon"
                />
                <p class="menu__list__item__text">Relatório de Transações</p>
              </a>
            </li>
            <li class="menu__list__item">
              <a href="#" class="menu__list__item__link">
                <img
                  src="/src/assets/images/icons/carteira-de-negocio.png"
                  alt="ícone estatísticas"
                  class="menu__list__item__icon"
                />
                <p class="menu__list__item__text">Carteira de Negócios</p>
              </a>
              <hr class="hr" />
            </li>
            <ul class="ecommerce-menu">
              <h2
                class="title-fblack @apply bg-[var(--ecommerce-color)] content-center py-2 px-3 mb-4"
              >
                E-Commerce
              </h2>
              <li class="menu__list__item">
                <a href="#" class="menu__list__item__link">
                  <img
                    src="/src/assets/images/icons/informe-de-compra.png"
                    alt="ícone estatísticas"
                    class="menu__list__item__icon"
                  />
                  <p class="menu__list__item__text">Informe de Compra</p>
                </a>
              </li>
              <li class="menu__list__item">
                <a href="#" class="menu__list__item__link">
                  <img
                    src="/src/assets/images/icons/lojas.png"
                    alt="ícone estatísticas"
                    class="menu__list__item__icon"
                  />
                  <p class="menu__list__item__text">Lojas</p>
                </a>
              </li>
              <li class="menu__list__item">
                <a href="#" class="menu__list__item__link">
                  <img
                    src="/src/assets/images/icons/cupons.png"
                    alt="ícone estatísticas"
                    class="menu__list__item__icon"
                  />
                  <p class="menu__list__item__text">Cupons</p>
                </a>
              </li>
              <li class="menu__list__item">
                <a href="#" class="menu__list__item__link">
                  <img
                    src="/src/assets/images/icons/promocoes.png"
                    alt="ícone estatísticas"
                    class="menu__list__item__icon"
                  />
                  <p class="menu__list__item__text">Promoções</p>
                </a>
                <hr class="hr" />
              </li>
            </ul>
            <ul class="energy-menu">
              <h2
                class="title-fblack @apply bg-[var(--energy-color)] content-center py-2 px-3 mb-4"
              >
                Mercado Livre de Energia
              </h2>
              <li class="menu__list__item">
                <a href="#" class="menu__list__item__link" data-target="cadastro" aria-controls="cadastro">
                  <img
                    src="/src/assets/images/icons/cadastro.png"
                    alt="ícone estatísticas"
                    class="menu__list__item__icon"
                  />
                  <p class="menu__list__item__text">Cadastro</p>
                </a>
              </li>
              <li class="menu__list__item">
                <a href="informe-de-recibo" class="menu__list__item__link" data-target="informe-de-recibo" aria-controls="informe-de-recibo">
                  <img
                    src="/src/assets/images/icons/informe-de-recibo.png"
                    alt="ícone estatísticas"
                    class="menu__list__item__icon"
                  />
                  <p class="menu__list__item__text">Informe de Recibo</p>
                </a>
                <hr class="hr" />
              </li>
              <li class="menu__list__item">
                <a href="#" class="menu__list__item__link" data-target="conta-bancaria" aria-controls="conta-bancaria">
                  <img
                    src="/src/assets/images/icons/conta-bancaria.png"
                    alt="ícone estatísticas"
                    class="menu__list__item__icon"
                  />
                  <p class="menu__list__item__text">Conta Bancária</p>
                </a>
              </li>
              <li class="menu__list__item">
                <a href="#" class="menu__list__item__link" data-target="regulamento" aria-controls="regulamento">
                  <img
                    src="/src/assets/images/icons/regulamento.png"
                    alt="ícone estatísticas"
                    class="menu__list__item__icon"
                  />
                  <p class="menu__list__item__text">Regulamento</p>
                </a>
                <hr class="hr" />
              </li>
              <li class="menu__list__item">
                <a href="#" class="menu__list__item__link" data-target="material-de-marketing" aria-controls="material-de-marketing">
                  <img
                    src="/src/assets/images/icons/material-de-marketing.png"
                    alt="ícone estatísticas"
                    class="menu__list__item__icon"
                  />
                  <p class="menu__list__item__text">Material de Marketing</p>
                </a>
              </li>
              <li class="menu__list__item">
                <a href="#" class="menu__list__item__link" data-target="treinamento" aria-controls="treinamento">
                  <img
                    src="/src/assets/images/icons/treinamento.png"
                    alt="ícone estatísticas"
                    class="menu__list__item__icon"
                  />
                  <p class="menu__list__item__text">Treinamento</p>
                </a>
                <hr class="hr" />
              </li>
            </ul>
            <ul class="geral-menu">
              <li class="menu__list__item">
                <a href="#" class="menu__list__item__link">
                  <img
                    src="/src/assets/images/icons/meu-id.png"
                    alt="ícone estatísticas"
                    class="menu__list__item__icon"
                  />
                  <p class="menu__list__item__text">Meu ID</p>
                </a>
              </li>
              <li class="menu__list__item">
                <a href="#" class="menu__list__item__link">
                  <img
                    src="/src/assets/images/icons/central-de-ajuda.png"
                    alt="ícone estatísticas"
                    class="menu__list__item__icon"
                  />
                  <p class="menu__list__item__text">Central de Ajuda</p>
                </a>
              </li>
              <li class="menu__list__item">
                <a href="#" class="menu__list__item__link">
                  <img
                    src="/src/assets/images/icons/encerrar-sessao.png"
                    alt="ícone estatísticas"
                    class="menu__list__item__icon"
                  />
                  <p class="menu__list__item__text">Encerrar Sessão</p>
                </a>
              </li>
            </ul>
          </ul>
          <footer class="menu__footer">
            <img
              class="menu__footer__logo"
              src="/src/assets/logo-mtrek-h-preto.png"
              alt="Logo da Mtrek Cashback"
            />
            <div class="menu__footer__social">
              <p class="menu__footer__social__cta">
                Nos Siga Nas Redes Sociais
              </p>
              <div class="menu__footer__social__icons">
                <a href="#" target="_blank">
                  <img
                    src="/src/assets/images/icons/youtube.png"
                    alt="Icone do Youtube"
                  />
                </a>

                <a href="#" target="_blank">
                  <img
                    src="/src/assets/images/icons/instagram.png"
                    alt="Icone do Instagram"
                  />
                </a>

                <a href="#" target="_blank">
                  <img
                    src="/src/assets/images/icons/facebook.png"
                    alt="Icone do Facebook"
                  />
                </a>
              </div>
            </div>
          </footer>
        </nav>
      </aside>
      <main class="route hidden" id="cadastro">
        <div class="tab__navegation">
          <!-- Adicionar navegação das rotas aqui -->
          <img src="assets/images/icons/Menu - 258 1.png" class="menu_responsivo">
          <h2 class="navegation__title">Mercado Livre de Energia</h2>
          <img
              src="/src/assets/images/icons/seta-direita.png"
              alt="seta de navegação para a direita"
              class="arrow"
          />
          <h2 class="navegation__title">Cadastro</h2>
        </div>

        <div class="scroll-content">
          <main class="tab">
            <div class="tab__content__banner">
              <img
                src="/src/assets/images/banners/mercador-de-energia-banner-2.png"
                alt="Banner sobre o mercado livre de energia"
              />
            </div>
            <div class="tab__content">
              <!-- Adicionar conteúdo das rotas aqui -->
                <div class="tab__content__video">
                  <header class="article__header">
                    <h2 class="title-fblack text-lg">
                      Aperte o play para assistir ao vídeo
                    </h2>
                  </header>
                  <div
                    class="bg-white drop-shadow-lg rounded-[0px_0px_20px_20px] h-[512px]"
                  >
                    <!-- <iframe
                src="https://www.youtube.com/embed/dQw4w9WgXcQ?autoplay=1&mute=1&loop=1&playlist=dQw4w9WgXcQ&controls=0"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"> -->
                  </div>
                </div>

                <div class="tab__content__form">
                  <header class="article__header">
                    <h2 class="title-fblack text-lg">Faça o seu cadastro aqui</h2>
                  </header>
                  <div
                    class="p-5 drop-shadow-lg bg-white rounded-[0px_0px_20px_20px]"
                  >
                    <p class="text-sm font-light">
                      Preencha com todos os dados abaixo para poder validar e
                      ser aprovado o seu cadastro, para cameçar a receber
                      descontos e cashaback em sua conta de energia.
                    </p>

                    <form>
                      <div class="flex flex-col gap-4 mt-6">
                        <div class="flex flex-wrap sm:gap-3 gap-5 w-full">
                          <div class="flex flex-col gap-3">
                            <label for="nome" class="text-sm font-semibold"
                              >Nome</label
                            >
                            <input
                              type="text"
                              id="nome"
                              name="nome"
                              v-model="name"
                              placeholder="Digite o seu nome"
                            />
                          </div>
                          <div class="flex flex-col gap-3">
                            <label for="sobrenome" class="text-sm font-semibold"
                              >Sobrenome</label
                            >
                            <input
                              type="text"
                              id="sobrenome"
                              name="sobrenome"
                              v-model="sobrenome"
                              placeholder="Digite o seu sobrenome"
                            />
                          </div>
                        </div>

                        <div class="flex flex-col gap-3">
                          <label for="estado" class="text-sm font-semibold"
                            >Estado</label
                          >
                          <select class="w-full" id="estado" name="estado">
                            <option value="" disabled selected>
                              Selecione o seu estado
                            </option>
                            <option value="sp">São Paulo</option>
                          </select>
                        </div>

                        <div class="flex flex-col gap-3">
                          <label for="" class="text-sm font-semibold"
                            >Distribuidora</label
                          >

                          <select
                            class="w-full"
                            id="distribuidora"
                            name="distribuidora"
                          >
                            <option value="" disabled selected>
                              Selecione a distribuidora de energia
                            </option>
                            <option value="">ENEL</option>
                          </select>
                        </div>

                        <div class="flex flex-col gap-3 mt-6">
                          <button class="button" type="button">
                            Carregar conta de energia
                          </button>

                          <div class="block">
                          <button class="button" type="button">
                            Carregar documento de identidade
                          </button>
                            <p class="text-sm font-bold"
                              >Tipos permitidos: .jpg, .png, .pdf, .doc</p>
                          </div>

                          <button class="button" type="submit">Enviar</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
            </div>
          </main>
        </div>
      </main>

      <main class="route hidden" id="informe-de-recibo">
        <div class="tab__navegation">
          <!-- Adicionar navegação das rotas aqui -->
          <img src="assets/images/icons/Menu - 258 1.png" class="menu_responsivo">
          <h2 class="navegation__title">Mercado Livre de Energia</h2>
          <img
              src="/src/assets/images/icons/seta-direita.png"
              alt="seta de navegação para a direita"
              class="arrow"
          />
          <h1 class="navegation__title">Informar Recibo</h1>
        </div>

        <div class="scroll-content">
          <main class="tab">
            <div class="tab__content flex-col">
              <div class="tab__content__form w-full">
                <header class="article__header">
                  <h2 class="title-fblack text-lg">
                  Carregue o Recibo de Pagamento da sua conta de Energia
                </h2>
              </header>

              <div class="p-5 drop-shadow-lg bg-white rounded-[0px_0px_20px_20px]">
                <p class="text-sm font-light mb-">
                  Para garantir que você possa começar a economizar e aproveitar todos
                  os benefícios da Mtrek, por favor, carregue o recibo a cada pagamento
                  da sua conta de energia, todos os meses. Isso nos ajudará a validar
                  suas informações e ajustar nossos serviços para oferecer a melhor
                  experiência possível. É rápido, fácil e você estará um passo mais
                  perto de desfrutar de energia limpa e sustentável com descontos
                  incríveis!
                </p>

                <div class="flex gap-3 justify-between mt-6">
                  <form id="reciboForm" onsubmit="submitForm(event)" enctype="multipart/form-data" class="w-full lg:w-1/2 flex flex-col gap-3">
                    <div class="flex flex-col gap-3">
                      <label for="data_envio" class="font-semibold ">Data de Envio</label>
                      <input type="date" id="data_envio" name="data_envio" required class=" text-[#AEAEAE]"/>
                    </div>
          
                    <div class="flex flex-col gap-3">
                      <label for="distribuidora" class="font-semibold">Distribuidora</label>
                      <select id="distribuidora" name="distribuidora" required 
                        >
                        <option value="">Selecionar a distribuidora de energia</option>
                        <option value="distribuidora1">Distribuidora 1</option>
                        <option value="distribuidora2">Distribuidora 2</option>
                        <option value="distribuidora3">Distribuidora 3</option>
                        <!-- Adicione mais opções conforme necessário -->
                      </select>
                    </div>
          
                    <div class="mb-4">
                      <div class="relative h-8">
                        <input type="file" id="recibo" name="recibo" accept=".pdf,.jpg,.png,.doc" required class="sr-only"
                          aria-label="Carregar Recibo" onchange="updateFileName(this)" />
                        <label for="recibo" id="file-btn"
                          class="button block text-center cursor-pointer">
                          <span id="file-btn-text">Carregar Recibo</span>
                        </label>
                      </div>
                      <p class="text-sm font-bold">
                        <span id="file-name-placeholder">Tipos permitidos: .jpg, .png, .pdf, .doc</span>
                      </p>
                    </div>
          
                    <button type="submit" id="enviarReciboBtn"  style="background: #D9D9D9;"
                    class="w-full bg-gray-300 hover:bg-gray-400 focus:outline-none focus:ring-2 focus:ring-gray-300 focus:ring-opacity-50 rounded-3xl font-black ">
                    Enviar Recibo
                  </button>
                  </form>
          
                  <img class="hidden lg:block mr-10" src="assets/images/recibo.png" alt="Recibo">
                </div>
              
            </div>
            </div>
            <section class="container mx-auto flex flex-col lg:flex-row mb-10 rounded-lg shadow-md" style="background-color: #5f7336;">
              <div class="lg:w-1/2 flex items-center justify-center order-2 lg:order-1">
                <img src="assets/images/medium-shot-happy-friends-city.png" alt="Amigos felizes na cidade"
                  class="h-full object-cover lg:rounded-l-lg lg:rounded-b-none rounded-b-lg">
              </div>
              <div class="lg:w-1/2 flex items-center justify-center order-1 lg:order-2 px-6 py-10">
                <div class="max-w-lg mx-auto flex flex-col gap-5">
                  <h1 class="text-4xl font-bold text-white">Compartilhe a Mtrek e Construa sua Rede de Afiliados!</h1>
                  <p class="text-white text-lg">Você já faz parte da Mtrek e está aproveitando os benefícios de energia limpa e
                    sustentável com descontos incríveis. Agora, imagine poder aumentar ainda mais suas vantagens e até ganhar uma
                    renda extra! Compartilhando a Mtrek com seus amigos e familiares, você não só ajuda outras pessoas a
                    economizarem na conta de energia, mas também acumula recompensas exclusivas.</p>
                  <ul class="text-lg flex flex-col gap-2 text-white">
                    <h2 class="text-2xl">Por que Compartilhar a Mtrek?</h2>
                    <li class="flex items-center"><img src="assets/images/icons/Aprovado ou Selecionado_4-8 8.png" class="mr-2"
                        alt="Ícone de aprovação">Economia Adicional</li>
                    <li class="flex items-center"><img src="assets/images/icons/Aprovado ou Selecionado_4-8 8.png" class="mr-2"
                        alt="Ícone de aprovação">Renda Extra</li>
                    <li class="flex items-center"><img src="assets/images/icons/Aprovado ou Selecionado_4-8 8.png" class="mr-2"
                        alt="Ícone de aprovação">Sustentabilidade</li>
                    <li class="flex items-center"><img src="assets/images/icons/Aprovado ou Selecionado_4-8 8.png" class="mr-2"
                        alt="Ícone de aprovação">Benefícios Exclusivos</li>
                  </ul>
                  <a href="#" class="button button-green block w-32 py-1 font-black rounded-md text-black bg-green-500 hover:text-white transition duration-300 ease-in-out text-center">
                    Indicar
                  </a>
                </div>
              </div>
            </section>
            </div>
          </main>
        </div>
      </main>
      <!-- Adicionar componentes das rotas aqui -->
    </div>
  </body>
  <script src="scripts/info-recibo.js"></script>
</html>
